{% extends 'vroom/components/base.html' %}

{% block title %}{{curso}}{% endblock %}

{% block extraclass %}curso{% endblock %}

{% load static %}

{% block content %}

<section class="container" id="breadcrumbs">
    <div class="innerBread">
        <p>/<a href={% url 'tablero' %}>tablero</a>/{{curso}}</p>
    </div>
</section>


<div id="app">
    <div class="detalles">
        <p><h1>{{curso}}</h1> - {{rol}}</p>
    </div>
    <div class="contenidos">    
        {% for contenido in contenidos %}
            {% if contenido.tipo == "tarea" %}                
                <div class="contenido" onclick="goToTarea('{{contenido.id}}')">
                    <form action="{% url 'tarea' %}" id="tarea-{{contenido.id}}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{contenido.id}}">
                    </form>
                    <img src="{% static 'assets/img/' %}{{contenido.tipo}}.png" alt="{{contenido.tipo}}"> <i>{{contenido.tipo}}</i> - <p>{{contenido.titulo}}</p>
                </div>
            {% elif contenido.tipo == "link" %}
                <div class="contenido">
                    <img src="{% static 'assets/img/' %}{{contenido.tipo}}.png" alt="{{contenido.tipo}}"> <i>{{contenido.tipo}}</i> -
                    <p><a href="{{contenido.link}}" target="_blank">{{contenido.titulo}}</a></p>
                </div>
            {% elif contenido.tipo == "texto" %}
                <div class="contenido">
                    <img src="{% static 'assets/img/' %}{{contenido.tipo}}.png" alt="{{contenido.tipo}}"> <i>{{contenido.tipo}}</i> - <p>{{contenido.titulo}}</p>
                </div>
            {% elif contenido.tipo == "documento" %}
                <div class="contenido">    
                    <img src="{% static 'assets/img/' %}{{contenido.tipo}}.png" alt="{{contenido.tipo}}"> <i>{{contenido.tipo}}</i> - <p>{{contenido.titulo}}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div> 
<script src="{% static 'assets/js/curso.js' %}"></script>
{% endblock %}