{% extends 'vroom/components/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block extraclass %}dashboard{% endblock %}

{% load static %}

{% block content %}

    <section class="container" id="breadcrumbs">
        <div class="innerBread">
            <p>/tablero</p>
        </div>
    </section>

    <div id="app">
        <script>
            var id = "{{user.id}}"
        </script>
        

        <div class="curso" v-for="curso in cursos">
            <form action="{% url 'curso' %}" method="POST">
                {% csrf_token %} 
                <p><h3><label :for=[[curso.id]]>[[curso.titulo]]</label><input type="submit" name="curso" :value=[[curso.id]] :id=[[curso.id]]></h3>  -  [[curso.rol]]</p>    
                <p>[[curso.descripcion]]</p>
            </form>
        </div>  

    <script src="{% static 'assets/js/dashboard.js' %}"></script>

{% endblock %}
