{% extends 'vroom/components/base.html' %}

{% block title %}{{ejercicio}}{% endblock %}

{% block extraclass %}ejercicio{% endblock %}

{% load static %}

{% block content %}


<div id="app">
    <h1>{{ejercicio.titulo}}</h1>
    <h3>{{ejercicio.descripcion}}</h3>
    <p>{{ejercicio.enunciado}}</p>
    <h1>Estado de la entrega</h1>
    {% if entrega %}
        <p>{{entrega.archivo}}</p>
    {% endif %}
</div> 
{% comment %} <script src="{% static 'assets/js/ejercicio.js' %}"></script> {% endcomment %}
{% endblock %}