
{% extends 'vroom/components/base.html' %}

{% load static %}

{% block title %}Entrega{% endblock %}

{% block extraclass %}entrega-vista-completa{% endblock %}

{% block content %}

    <script>
        var id = {{id}}
    </script>

    <div id="app">

        <form action={% url 'curso' %} method="POST" id="enlaceCurso">
            {% csrf_token %}
            <input type="hidden" name="curso" :value="[[id_curso]]">
        </form>
        <form action={% url 'tarea' %} method="POST" id="enlaceTarea">
            {% csrf_token %}
            <input type="hidden" name="id" :value="[[id_tarea]]">
        </form>

        <section class="container" id="breadcrumbs">
            <div class="innerBread">
                <p>/<a href={% url 'tablero' %}>tablero</a>/<a href="#" onclick="document.getElementById('enlaceCurso').submit()">[[curso]]</a>/<a href="#" onclick="document.getElementById('enlaceTarea').submit()">[[tarea]]</a>/[[nombre]]</p>
            </div>
        </section>


        <div class="header">
            <div class="left">
                <p>Curso: [[curso]]</p>
                <button class="btn" onclick="document.getElementById('enlaceTarea').submit()">Visualiza todas las entregas</button>
            </div>
            <div class="middle">
                <p>Alumno: [[nombre]]</p>
                <p>[[correo]]</p>
                <p>Fecha de publicación: [[fecha_publicacion]]</p>
            </div>
            <div class="right">
                <div class="d-flex align-center gap-10">
                    <button @click="set_anterior()" class="btn" ><img src="{% static 'assets/img/left-arrow.png' %}" alt="flecha izquierda"></button>
                    Cambia de alumno
                    <button @click="set_siguiente()" class="btn" ><img src="{% static 'assets/img/right-arrow.png' %}" alt="flecha derecha"></button>
                </div>        
            </div>
        </div>
                
        <div class="body">
            <div class="content" v-html="vista_archivo"></div>
            <div class="details">
                <div class="detalles_alumno">
 s                   <p v-if="[[archivo]] != '/'">Metadatos:<a :href=[[archivo]] target="_blank">descarga</a></p>
                     
                    <p v-if="[[comentario_alumno]] != ''">Comentario del alumno:</p> 
                    <p v-if="[[comentario_alumno]] != ''">[[comentario_alumno]]</p>
                </div>
                        
                <h3>Calificación</h3>
                <p>Calificación sobre [[nota_maxima]]:</p>
                <p><input type="number" v-model="nota"></p>
                    
                <p>Comentario del profesor:</p>
                <p><textarea v-model="comentario_profesor"></textarea></p>
                    
                <p><input type="checkbox" id="ckbNotificacion"><label for="ckbNotificacion">Notificar al alumno</label><button @click="save_nota_and_comment()" class="btn">Guardar</button></p>
            </div>
        </div>
    </div>

    <script src="{% static 'assets/js/entrega.js' %}"></script>

    

{% endblock %}
