
{% extends 'vroom/components/base.html' %}

{% load static %}

{% block title %}Entrega{% endblock %}

{% block extraclass %}entrega-vista-completa{% endblock %}

{% block content %}


    <div id="app">
        {{ entregas|json_script:"entregas" }}
        {{ alumno|json_script:"alumno" }}
        {{ tarea|json_script:"tarea"}}
        {{ curso|json_script:"curso" }}
        {{ lista_entregas|json_script:"lista_entregas" }}

        <div class="tarea">
            <div class="info">
                <p>Curso: [[curso.titulo]]</p>
                <p>Tarea: [[tarea.titulo]]</p>
                <button class="btn">Vista general</button>
            </div>
            <div class="alumno">
                <p>[[alumno.first_name]] [[alumno.last_name]]</p>
                <p>[[alumno.email]]</p>
            </div>
            <div class="navegacion">
                <div class="d-flex align-center gap-10">
                    <button @click="set_anterior()" class="btn btnNavegacion" ><img src="{% static 'assets/img/left-arrow.png' %}" alt="flecha izquierda"></button>
                    Cambia de alumno
                    <button @click="set_siguiente()" class="btn btnNavegacion" ><img src="{% static 'assets/img/right-arrow.png' %}" alt="flecha derecha"></button>
                </div>        
            </div>
        </div>

        <div class="container">
            <div class="entregas">
                <div class="entrega" v-for="entrega in entregas">
                    [[entrega]]
                </div>
            </div>
            <div class="calificacion">
                [[calificacion]]
            </div>
        </div>

    </div>

    <script src="{% static 'assets/js/entrega.js' %}"></script>

    

{% endblock %}
