{% extends 'vroom/components/base.html' %}

{% load static %}

{% block title %}Vroom{% endblock %}

{% block extraclass %}landing{% endblock %}

{% block content %}

    <section class="container mx-auto mt-4">

        <div class="row">
            <div class=" ">
                <h1>Bienvenido a el proyecto Vroom</h1>
                <p class="text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure id non sunt magnam illo doloribus, suscipit minus fugit, vitae beatae provident ea ex eos minima alias soluta ipsum, nobis dicta est qui consectetur quisquam totam aspernatur ipsa? Fuga commodi laudantium veniam ut aliquam id, numquam, dignissimos odit illum, tempore alias!</p>
            </div>
        </div>

    </section>

    <section class="container mx-auto bg-light">
        <div class="row align-items-center py-4">
            <div class="col-6  m-auto">
                <p class="text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure id non sunt magnam illo doloribus, suscipit minus fugit, vitae beatae provident ea ex eos minima alias soluta ipsum, nobis dicta est qui consectetur quisquam totam aspernatur ipsa? Fuga commodi laudantium veniam ut aliquam id, numquam, dignissimos odit illum, tempore alias!</p>
                {% if user.is_authenticated %}
                    <span class="my-3">
                    Bienvenido de nuevo {{user}}
                    </span>
                {% else %}
                    <a class="btn btn-primary my-3" href="{% url 'login' %}" role="button">Iniciar sesión</a>
                {% endif %}
            </div>
            <div class="col-6 "><img src="{% static 'assets/img/landing1.jpg' %}" alt=""></div>
        </div>
        <div class="row align-items-center  py-4">
            <div class="col-6 "><img src="{% static 'assets/img/landing1.jpg' %}" alt=""></div>
        </div>
    </section>


{% endblock %}