{% extends 'vroom/components/base.html' %}

{% block title %}{{tarea.titulo}}{% endblock %}

{% block extraclass %}tarea_alumno{% endblock %}

{% load static %}

{% block content %}

{{ tarea|json_script:"tarea" }}
{{ entregas|json_script:"entregas" }}
{{ calificacion|json_script:"calificacion" }}


<div id="app">

    <section class="container" id="breadcrumbs">
        <div class="innerBread">
            <p>/<a href={% url 'tablero' %}>tablero</a>/<a href="#">{{tarea.curso_nombre}}</a>/{{tarea.titulo}}</p>
        </div>
    </section>

    <div class="tarea">
        <h1>[[tarea.titulo]]</h1>
        <p v-if="tarea.descripcion">[[tarea.descripcion]]</p>
        <div v-if="tarea.enunciado">
            <h4>Enunciado</h4>
            <p>[[tarea.enunciado]]</p>
        </div>
    </div>

    <div class="cuerpo">

        <div class="entregas">
            <h4>Entregas</h4>
            <div v-if="!entregas">
                <h4>No hay entregas</h4>
            </div>
            <div class="entrega" v-else v-for="entrega in entregas">
                [[entrega]]
            </div>
        </div>

        <div class="calificacion">
            <h4>Estado de la entrega</h4>
            
            <div v-if="calificacion">
                <h4>Calificada</h4>
                <p>Calificación: [[calificacion.nota]]/[[tarea.nota_maxima]]</p>
                <p v-if="calificacion.comentario">Comentario: [[calificacion.comentario]]</p>
                <p>Calificado el: [[formato_fecha(calificacion.fecha_calificacion)]]</p>
                <p>Calificado por: [[calificacion.profesor]]</p>
            </div>
            <div v-else>
                <h4>Sin calificar</h4>
            </div>
        </div>

    </div>
    
</div> 
<script src="{% static 'assets/js/entrega_alumno.js' %}"></script>

{% endblock %}