@font-face {
  font-family: 'Bicyclette';
  src: url("../fonts/Bicyclette-Black.woff2") format("woff2"), url("../fonts/Bicyclette-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bicyclette';
  src: url("../fonts/Bicyclette-Bold.woff2") format("woff2"), url("../fonts/Bicyclette-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bicyclette';
  src: url("../fonts/Bicyclette-Italic.woff2") format("woff2"), url("../fonts/Bicyclette-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Bicyclette';
  src: url("../fonts/Bicyclette-Regular.woff2") format("woff2"), url("../fonts/Bicyclette-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bicyclette';
  src: url("../fonts/Bicyclette-Light.woff2") format("woff2"), url("../fonts/Bicyclette-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bicyclette';
  src: url("../fonts/Bicyclette-Thin.woff2") format("woff2"), url("../fonts/Bicyclette-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bicyclette Ultra';
  src: url("../fonts/Bicyclette-Ultra.woff2") format("woff2"), url("../fonts/Bicyclette-Ultra.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Bicyclette';
}

.bg-primary {
  background-color: #8EC6FF !important;
}

.entrega-vista-completa table {
  margin: auto;
}

.entrega-vista-completa #app {
  text-align: center;
}

.entrega-vista-completa .main-content-container {
  padding-top: 25px;
  padding-bottom: 25px;
}

.main-content-container {
  margin-top: 80px;
}

.header-container {
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.header-container.shrink {
  height: 50px;
  position: fixed;
}

.entrega-vista-completa #app {
  width: 100%;
  height: 100%;
}

.entrega-vista-completa #app .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: 1px solid black;
}

.entrega-vista-completa #app .header img {
  width: 30px;
}

.entrega-vista-completa #app .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 600px;
}

.entrega-vista-completa #app .body .content {
  width: 70%;
  background-image: url("/static/assets/Img/alt-entrega.png");
  background-position: center;
  background-repeat: no-repeat;
}

.entrega-vista-completa #app .body .content embed {
  width: 100%;
  height: 600px;
}

.entrega-vista-completa #app .body .details {
  margin-top: 30px;
}

.entrega-vista-completa #app .body .details .detalles_alumno {
  border-bottom: 1px solid darkgrey;
  margin-bottom: 20px;
}
/*# sourceMappingURL=style.css.map */