@font-face {
    font-family: 'Bicyclette';
    src: url('../fonts/Bicyclette-Black.woff2') format('woff2'),
        url('../fonts/Bicyclette-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bicyclette';
    src: url('../fonts/Bicyclette-Bold.woff2') format('woff2'),
        url('../fonts/Bicyclette-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bicyclette';
    src: url('../fonts/Bicyclette-Italic.woff2') format('woff2'),
        url('../fonts/Bicyclette-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bicyclette';
    src: url('../fonts/Bicyclette-Regular.woff2') format('woff2'),
        url('../fonts/Bicyclette-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bicyclette';
    src: url('../fonts/Bicyclette-Light.woff2') format('woff2'),
        url('../fonts/Bicyclette-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bicyclette';
    src: url('../fonts/Bicyclette-Thin.woff2') format('woff2'),
        url('../fonts/Bicyclette-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bicyclette Ultra';
    src: url('../fonts/Bicyclette-Ultra.woff2') format('woff2'),
        url('../fonts/Bicyclette-Ultra.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

body{
    font-family: 'Bicyclette';

    &:not(.login){
        .main-content-container{
            padding-top: 25px;
            padding-bottom: 25px;
        }
    }

}

/* HEADER */
.header-container{
    position: sticky;
    top: 0;
    .navbar-brand{
        img{
            transition: width .3s;
            width: 60px;
            height: auto;
        }
    }

    &.shrink{
        .navbar-brand{
            img{
                width: 40px;
                height: auto;
            }
        }
    }
}

.bg-primary{
    background-color: #8EC6FF !important;
}



.entrega-vista-completa{
    table {
        margin: auto
    }
    #app {
        text-align: center;
    }
    .main-content-container{
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

.dashboard{
    .curso {
        width: 50%;
        margin: 5px auto;
        padding: 20px;
        border-radius: 20px;
        border: 1px solid black;
    }

    .curso h3 {
        display: inline;
    }

    p {
        margin: 0 !important;
    }
}

.text-justify{
    text-align: justify;
}


.landing{
    img{
        width: 100%;
        height: auto;
    }
}

.entrega-vista-completa {
    #app {
        width: 100%;
        height: 100%;
        .header {
            display: flex;
            justify-content: space-around;
            border-bottom: 1px solid black;
            img {
                width: 30px;
            }
        }
        .body {
            display: flex;
            justify-content: space-around;
            height: 600px;
            .content {
                width: 70%;
                background-image: url("/static/assets/Img/alt-entrega.png");
                background-position: center;
                background-repeat: no-repeat;
                embed {
                    width: 100%;
                    height: 600px;
                }
            }
            .details {
                margin-top: 30px;
                .detalles_alumno {
                    border-bottom: 1px solid darkgrey;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.alert {
    display: none; position: fixed; bottom: 50px; left: 50%; transform: translateX(-50%); width: 80%
}