@font-face {
  font-family: 'Bicyclette';
  src: url("../fonts/Bicyclette-Black.woff2") format("woff2"), url("../fonts/Bicyclette-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bicyclette';
  src: url("../fonts/Bicyclette-Bold.woff2") format("woff2"), url("../fonts/Bicyclette-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bicyclette';
  src: url("../fonts/Bicyclette-Italic.woff2") format("woff2"), url("../fonts/Bicyclette-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Bicyclette';
  src: url("../fonts/Bicyclette-Regular.woff2") format("woff2"), url("../fonts/Bicyclette-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bicyclette';
  src: url("../fonts/Bicyclette-Light.woff2") format("woff2"), url("../fonts/Bicyclette-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bicyclette';
  src: url("../fonts/Bicyclette-Thin.woff2") format("woff2"), url("../fonts/Bicyclette-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bicyclette Ultra';
  src: url("../fonts/Bicyclette-Ultra.woff2") format("woff2"), url("../fonts/Bicyclette-Ultra.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Bicyclette';
  margin: 0px;
}

body:not(.login) .main-content-container {
  padding-top: 25px;
  padding-bottom: 25px;
}

body.loading {
  overflow-y: hidden;
}

body:not(.loading) .preloader {
  opacity: 0;
  visibility: hidden;
}

body.login .preloader {
  -webkit-transition: all 0s !important;
  transition: all 0s !important;
  opacity: 0;
  visibility: hidden;
}

.bg-primary {
  background-color: #8EC6FF !important;
}

input, textarea {
  border: 1px solid black !important;
  border-radius: 5px;
}

.entrega-vista-completa table {
  margin: auto;
}

.entrega-vista-completa #app {
  text-align: center;
}

.entrega-vista-completa .main-content-container {
  padding-top: 25px;
  padding-bottom: 25px;
}

.dashboard .curso {
  width: 50%;
  margin: 5px auto;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid black;
}

.dashboard .curso h3 {
  display: inline;
}

.dashboard p {
  margin: 0 !important;
}

.text-justify {
  text-align: justify;
}

.landing img {
  width: 100%;
  height: auto;
}

.entrega-vista-completa #app {
  width: 100%;
  height: 100%;
}

.entrega-vista-completa #app .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: 1px solid black;
}

.entrega-vista-completa #app .header img {
  width: 30px;
}

.entrega-vista-completa #app .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 600px;
}

.entrega-vista-completa #app .body .content {
  width: 70%;
  background-image: url("/static/assets/img/alt-entrega.png");
  background-position: center;
  background-repeat: no-repeat;
}

.entrega-vista-completa #app .body .content embed {
  width: 100%;
  height: 600px;
}

.entrega-vista-completa #app .body .details {
  margin-top: 30px;
}

.entrega-vista-completa #app .body .details .detalles_alumno {
  border-bottom: 1px solid darkgrey;
  margin-bottom: 20px;
}

.alert {
  display: none;
  position: fixed;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 80%;
}

#breadcrumbs {
  text-align: left;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #8EC6FF !important;
  border: 1px solid grey;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
}

#breadcrumbs p {
  margin: 0;
}

.header-container {
  background-color: #8EC6FF;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-top: 1em;
  padding-bottom: 1em;
}

.header-container.shrink .brand-logo img {
  width: 40px;
  height: auto;
}

.header-container > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container > div .gap-header {
  gap: 1em;
}

.header-container > div .gap-header .gap-header {
  gap: 1.8em;
}

.header-container > div .brand-logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-container > div .brand-logo a img {
  -webkit-transition: all 1s;
  transition: all 1s;
  width: 60px;
  height: auto;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px !important;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px !important;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px !important;
  }
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col-6 {
  width: 50%;
}

.btn {
  padding: 0.5em 1em;
  border-radius: 0.4em;
}

.btn-primary {
  background-color: #8EC6FF;
  color: white;
}

.preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(-45deg, #8EC6FF, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient 7s ease infinite;
          animation: gradient 7s ease infinite;
  z-index: 90000;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.preloader .loader-container {
  width: 300px;
  height: 300px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-60%, -60%);
          transform: translate(-60%, -60%);
}

.preloader .loader-container img {
  width: 250px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.preloader .loader-container img.loader1 {
  top: 55%;
  left: 45%;
  -webkit-animation: anim-loader1 4s ease-in-out .5s infinite;
          animation: anim-loader1 4s ease-in-out .5s infinite;
}

@-webkit-keyframes anim-loader1 {
  0% {
    top: 55%;
    left: 45%;
  }
  10% {
    top: 95%;
    left: 5%;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  30% {
    top: 95%;
    left: 5%;
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
  50% {
    top: 95%;
    left: 5%;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  70% {
    top: 55%;
    left: 45%;
  }
  100% {
    top: 55%;
    left: 45%;
  }
}

@keyframes anim-loader1 {
  0% {
    top: 55%;
    left: 45%;
  }
  10% {
    top: 95%;
    left: 5%;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  30% {
    top: 95%;
    left: 5%;
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
  50% {
    top: 95%;
    left: 5%;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  70% {
    top: 55%;
    left: 45%;
  }
  100% {
    top: 55%;
    left: 45%;
  }
}

.preloader .loader-container img.loader2 {
  top: 25%;
  left: 75%;
  -webkit-animation: anim-loader2 4s ease-in-out .5s infinite;
          animation: anim-loader2 4s ease-in-out .5s infinite;
}

@-webkit-keyframes anim-loader2 {
  0% {
    top: 25%;
    left: 75%;
  }
  10% {
    top: -15%;
    left: 115%;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  30% {
    top: -15%;
    left: 115%;
    -webkit-transform: translate(-50%, -50%) rotate(-360deg);
            transform: translate(-50%, -50%) rotate(-360deg);
  }
  50% {
    top: -15%;
    left: 115%;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  70% {
    top: 25%;
    left: 75%;
  }
  100% {
    top: 25%;
    left: 75%;
  }
}

@keyframes anim-loader2 {
  0% {
    top: 25%;
    left: 75%;
  }
  10% {
    top: -15%;
    left: 115%;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  30% {
    top: -15%;
    left: 115%;
    -webkit-transform: translate(-50%, -50%) rotate(-360deg);
            transform: translate(-50%, -50%) rotate(-360deg);
  }
  50% {
    top: -15%;
    left: 115%;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  70% {
    top: 25%;
    left: 75%;
  }
  100% {
    top: 25%;
    left: 75%;
  }
}

.p-l {
  padding-right: 20px;
}

.alert {
  position: absolute;
  top: 0;
  bottom: unset;
  z-index: 99999;
  padding: 1em;
  background-color: #f5f5f5;
  border-radius: 0.4em;
  color: #000;
  font-size: 1.2em;
  text-align: center;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.alert.alert-success {
  background-color: #4caf4fa2;
  color: white;
}

.alert.alert-danger {
  background-color: #f44336b2;
  color: white;
}

.alert.alert-warning {
  background-color: #ff99008a;
  color: white;
}

.gap-10 {
  gap: 10px;
}

ul {
  list-style: none;
}

ul a {
  text-decoration: none;
  color: black;
}

a.btn, button.btn {
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 0.4em;
  border: 0px;
  background-color: #8EC6FF;
  cursor: pointer;
}

a.btn:hover, button.btn:hover {
  background-color: #23d5ab;
  background-image: -webkit-gradient(linear, left top, right top, from(#23a6d5), to(#23d5ab));
  background-image: linear-gradient(to right, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient 7s ease infinite;
          animation: gradient 7s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#breadcrumbs {
  padding: 0.5em 1em;
  border-radius: 0.4em;
  background-color: #f5f5f5;
  color: #000;
  font-size: 1.2em;
  text-align: center;
  -webkit-transition: all 1s;
  transition: all 1s;
}
/*# sourceMappingURL=style.css.map */