@font-face {
    font-family: 'Bicyclette';
    src: url('../fonts/Bicyclette-Black.woff2') format('woff2'),
        url('../fonts/Bicyclette-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bicyclette';
    src: url('../fonts/Bicyclette-Bold.woff2') format('woff2'),
        url('../fonts/Bicyclette-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bicyclette';
    src: url('../fonts/Bicyclette-Italic.woff2') format('woff2'),
        url('../fonts/Bicyclette-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bicyclette';
    src: url('../fonts/Bicyclette-Regular.woff2') format('woff2'),
        url('../fonts/Bicyclette-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bicyclette';
    src: url('../fonts/Bicyclette-Light.woff2') format('woff2'),
        url('../fonts/Bicyclette-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bicyclette';
    src: url('../fonts/Bicyclette-Thin.woff2') format('woff2'),
        url('../fonts/Bicyclette-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bicyclette Ultra';
    src: url('../fonts/Bicyclette-Ultra.woff2') format('woff2'),
        url('../fonts/Bicyclette-Ultra.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

$primary:#8EC6FF;

body{
    font-family: 'Bicyclette';

    &:not(.login){
        .main-content-container{
            padding-top: 25px;
            padding-bottom: 25px;
        }
    }
    margin: 0px;

    &.loading{
        overflow-y: hidden;
    }

    &:not(.loading){
        .preloader{
            opacity: 0;
            visibility: hidden;
        }
    }

    &.login{
        .preloader{
            transition: all 0s !important;
            opacity: 0;
            visibility: hidden;
        }
    }
}


.bg-primary{
    background-color: #8EC6FF !important;
}

input,textarea{
    border: 1px solid black !important;
    border-radius: 5px;
}



.entrega-vista-completa{
    table {
        margin: auto
    }
    #app {
        text-align: center;
    }
    .main-content-container{
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

.dashboard{
    .curso {
        width: 50%;
        margin: 5px auto;
        padding: 20px;
        border-radius: 20px;
        border: 1px solid black;
    }

    .curso h3 {
        display: inline;
    }

    p {
        margin: 0 !important;
    }

    .curso {
        input {
            display: none;
        }
        label {
            all: unset;
            color: #0d6efd;
            text-decoration: underline;
            cursor:pointer;
        }
    }
}

.text-justify{
    text-align: justify;
}


.landing{
    img{
        width: 100%;
        height: auto;
    }
}

.entrega-vista-completa {
    #app {
        width: 100%;
        height: 100%;
        .header {
            display: flex;
            justify-content: space-around;
            border-bottom: 1px solid black;
            img {
                width: 30px;
            }
        }
        .body {
            display: flex;
            justify-content: space-around;
            height: 600px;
            .content {
                width: 70%;
                background-image: url("/static/assets/img/alt-entrega.png");
                background-position: center;
                background-repeat: no-repeat;
                embed {
                    width: 100%;
                    height: 600px;
                }
            }
            .details {
                margin-top: 30px;
                .detalles_alumno {
                    border-bottom: 1px solid darkgrey;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.alert {
    display: none; position: fixed; bottom: 50px; left: 50%; transform: translateX(-50%); width: 80%;
}

#breadcrumbs {
    padding: 0.5em 1em;
    border-radius: 0.4em;
    color: #000;
    font-size: 1.2em;
    text-align: center;
    transition: all 1s;
    max-width: 1320px;    
    margin: auto;
    margin-bottom: 20px;

    .innerBread {
        text-align: left;
        width: fit-content;
        background-color: #8EC6FF !important;
        border: 1px solid grey;
        border-radius: 20px;
        padding: 5px 10px;
        * {
            display: inline;
            border: none;
            margin: 0;
            padding: 0;
        }
    }

    p {
        margin: 0;
    }
}

.curso {
    .detalles {
        max-width: 1320px;
        margin: auto;
        h1 {
            display: inline;
        }
    }
    .contenidos {
        max-width: 1320px;
        margin: auto;
        .contenido {
            p {
                display: inline;
            }
            border-top: 0;
            &:not(:first-of-type) {
                border-top: 1px solid black;
            }
            &:nth-child(2n) {
                background-color: #dedede;
            }
            &:hover {
                p {
                    text-decoration: underline;
                    a {
                        text-decoration-color: black;
                    }
                }
            }
            margin: auto;
            padding: 20px;
            cursor: pointer;
            img {
                width: 30px;
            }
        }
    }
}

.ejercicio_alumno {
    #app {
        max-width: 1320px;
        margin: auto;
    }
    h4 {
        margin-top: 10px;
    }
    p {
        padding: 20px;
        margin: 0;
        border-top: 1px solid black;
        display: flex;
        align-items: center;
        
        textarea {
            resize: both;
        }
    }
    .entrega p {
        &:nth-child(2n - 1) {
            background-color: #f0f0f0;
        }
        &:nth-child(2n) {
            background-color: #dedede;
        }
    }
}

.ejercicio_profesor{
    table {
        max-width: 1320px;
        margin: auto;
    }
    th, td {
        padding: 5px 20px;
    }
    td {
        border-top: 1px solid black;
    }
    .clicable {
        color: #0d6efd;
        cursor: pointer;
    }
    .noEntregado {
        background-color: lightcoral;
    }
    .porCalificar {
        background-color: lightyellow;
    }
    .calificado {
        background-color: lightgreen;
    }
    .txtNota {
        resize: none;
    }
}





.header-container{
    background-color: $primary;
    position:sticky;

    top: 0;
    padding-top: 1em;
    padding-bottom: 1em;


    &.shrink{
        .brand-logo{
            img {
                width: 40px;
                height: auto;
            }
        }
    }

    >div{
        
        .gap-header{
            gap:1em;

            .gap-header{
                gap:1.8em;
            }
        }


        display: flex;
        justify-content: space-between;
        align-items: center;

    
        .brand-logo{
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    transition: all 1s;
                    width: 60px;
                    height: auto;
                }
                
            }

        }
    

    }
}


.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px !important;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px !important;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px !important;
    }
}


.d-flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.row{
    display: flex;
}

.col-6{
    width: 50%;

}

.btn{
    padding: 0.5em 1em;
    border-radius: 0.4em;
}

.btn-primary{
    background-color: $primary;
    color: white;
}

.preloader{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
	background: linear-gradient(-45deg,  $primary ,#23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 7s ease infinite;
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
    
    z-index: 90000;
    transition: all 1s;
    


    .loader-container{
        width: 300px;
        height: 300px;
        position: relative;
        top: 50%;
        left: 50%;

        transform: translate(-60%, -60%);

        img{
            width: 250px;
            height: auto;

            position:absolute;
            top: 50%;
            left: 50%;
            transform:  translate(-50%,-50%);

            &.loader1{
                top: 55%;
                left: 45%;
                
                animation: anim-loader1 4s ease-in-out .5s infinite;
                @keyframes anim-loader1 {
                    0%{
                        top: 55%;
                        left: 45%;
                    }
                    10%{
                        top: 95%;
                        left: 5%;
                        transform:  translate(-50%,-50%) rotate(0deg);
                    }
                    30%{
                        top: 95%;
                        left: 5%;
                        transform:  translate(-50%,-50%) rotate(360deg);
                        
                    }
                    50%{
                        top: 95%;
                        left: 5%;
                        transform:  translate(-50%,-50%) rotate(0deg);
                    }
                    70%{
                        top: 55%;
                        left: 45%;
                    }
                    100%{
                        top: 55%;
                        left: 45%;
                    }
                }
            }

            &.loader2{
                top: 25%;
                left: 75%;  
                animation: anim-loader2 4s ease-in-out .5s infinite;
                @keyframes anim-loader2 {
                    0%{
                        top: 25%;
                        left: 75%;  
                    }
                    10%{
                        top: -15%;
                        left: 115%;
                        transform:  translate(-50%,-50%) rotate(0deg);
                    }
                    30%{
                        top: -15%;
                        left: 115%;
                        transform:  translate(-50%,-50%) rotate(-360deg);
                        
                    }
                    50%{
                        top: -15%;
                        left: 115%;
                        transform:  translate(-50%,-50%) rotate(0deg);
                    }
                    70%{
                        top: 25%;
                        left: 75%;
                    }
                    100%{
                        top: 25%;
                        left: 75%;
                    }
                }          
            }
            
        }
    }
}

.p-l{
    padding-right: 20px;
}

.alert{
    position: absolute;
    top: 0;
    bottom: unset;
    z-index: 99999;
    padding: 1em;
    background-color: #f5f5f5;
    border-radius: 0.4em;
    color: #000;
    font-size: 1.2em;
    text-align: center;
    transition: all 1s;
    &.alert-success{
        background-color: #4caf4fa2;
        color: white;
    }
    &.alert-danger{
        background-color: #f44336b2;
        color: white;
    }
    &.alert-warning{
        background-color: #ff99008a;
        color: white;
    }
}

.gap-10{
    gap: 10px;
}


ul{
    list-style: none;
    a{
        text-decoration: none;
        color: black;
    }
}


a.btn,button.btn{
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 0.4em;
    border:0px;
    background-color: $primary;
    cursor: pointer;
    &:hover{
        background-color: #23d5ab;
        background-image: linear-gradient(to right, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 7s ease infinite;
        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }
    }
}


