@font-face {
    font-family: 'Bicyclette';
    src: url('../fonts/Bicyclette-Black.woff2') format('woff2'),
        url('../fonts/Bicyclette-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bicyclette';
    src: url('../fonts/Bicyclette-Bold.woff2') format('woff2'),
        url('../fonts/Bicyclette-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bicyclette';
    src: url('../fonts/Bicyclette-Italic.woff2') format('woff2'),
        url('../fonts/Bicyclette-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bicyclette';
    src: url('../fonts/Bicyclette-Regular.woff2') format('woff2'),
        url('../fonts/Bicyclette-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bicyclette';
    src: url('../fonts/Bicyclette-Light.woff2') format('woff2'),
        url('../fonts/Bicyclette-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bicyclette';
    src: url('../fonts/Bicyclette-Thin.woff2') format('woff2'),
        url('../fonts/Bicyclette-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bicyclette Ultra';
    src: url('../fonts/Bicyclette-Ultra.woff2') format('woff2'),
        url('../fonts/Bicyclette-Ultra.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

$primary:#8EC6FF;

body{
    font-family: 'Bicyclette';

    &:not(.login){
        .main-content-container{
            padding-top: 25px;
            padding-bottom: 25px;
        }
    }
    margin: 0px;
}


.bg-primary{
    background-color: #8EC6FF !important;
}



.entrega-vista-completa{
    table {
        margin: auto
    }
    #app {
        text-align: center;
    }
    .main-content-container{
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

.dashboard{
    .curso {
        width: 50%;
        margin: 5px auto;
        padding: 20px;
        border-radius: 20px;
        border: 1px solid black;
    }

    .curso h3 {
        display: inline;
    }

    p {
        margin: 0 !important;
    }
}

.text-justify{
    text-align: justify;
}


.landing{
    img{
        width: 100%;
        height: auto;
    }
}

.entrega-vista-completa {
    #app {
        width: 100%;
        height: 100%;
        .header {
            display: flex;
            justify-content: space-around;
            border-bottom: 1px solid black;
            img {
                width: 30px;
            }
        }
        .body {
            display: flex;
            justify-content: space-around;
            height: 600px;
            .content {
                width: 70%;
                background-image: url("/static/assets/img/alt-entrega.png");
                background-position: center;
                background-repeat: no-repeat;
                embed {
                    width: 100%;
                    height: 600px;
                }
            }
            .details {
                margin-top: 30px;
                .detalles_alumno {
                    border-bottom: 1px solid darkgrey;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.alert {
    display: none; position: fixed; bottom: 50px; left: 50%; transform: translateX(-50%); width: 80%
}

#breadcrumbs {
    text-align: left;
    width: fit-content;
    background-color: #8EC6FF !important;
    border: 1px solid grey;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 50px;

    p {
        margin: 0;
    }
}



:root {
    --header-height: 3rem;
    
    /*===== Colores =====*/
    --first-color: white;
    --dark-color: #8EC6FF;
    --dark-color-alt: #282B3A;
    --white-color: black;
  
    /*===== Fuente y tipografia =====*/
    --body-font: 'Poppins', sans-serif;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
  
    /*===== z index =====*/
    --z-fixed: 100;
  }


@media screen and (min-width: 768px) {
    :root {
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
    }
  }
  
  /*===== BASE =====*/
  *, ::before, ::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  

  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .bd-grid {
    max-width: 1024px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }



.header-container{
    background-color: $primary;
    position:sticky;

    top: 0;
    padding-top: 1em;
    padding-bottom: 1em;


    &.shrink{
        .brand-logo{
            img {
                width: 40px;
                height: auto;
            }
        }
    }

    >div{
        
        .gap-header{
            gap:1em;

            .gap-header{
                gap:1.8em;
            }
        }


        display: flex;
        justify-content: space-between;
        align-items: center;

    
        .brand-logo{
            img {
                transition: all 1s;
                width: 60px;
                height: auto;
            }
        }
    

    }
}


.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px !important;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px !important;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px !important;
    }
  }


.d-flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.row{
    display: flex;
}

.col-6{
    width: 50%;

}

.btn{
    padding: 0.5em 1em;
    border-radius: 0.4em;
}

.btn-primary{
    background-color: $primary;
    color: white;
}